<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>개굿</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-32x32.png" />

    <!-- CSS only Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="order-complete.css" />
    <script src="order-complete.js" type="module" defer></script>
  </head>

  <body>
    <!-- 메인 컨테이너 -->
    <main id="main__container" role="main">
      <div class="process__bar">
        <p>장바구니 > 주문결제 ></p>
        <p>주문완료</p>
      </div>
      <div class="result-container">주문이 완료되었습니다!</div>
    </main>

    <!-- Footer -->
    <footer
      class="text-center text-white"
      style="background-color: blanchedalmond"
    >
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <p>© 2022 개굿개굿</p>
        <p>저작권 yalco</p>
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
