@import "../reset.css";
* {
  padding: 0px;
  margin: 0px;
}

/*html*/
html {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color:black
}

.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* HEADER 카테고리 */

.navbar {
  width: 100vw;
  height: 100px;
  padding: 50px 100px 0px 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.navbar-nav {
  width: 400px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: 1000;
  font-style: italic;
  letter-spacing: -4px;
}
	
.nav-item {
  margin: 10px;
}

/* main */

#main__container {
  width: 100%;
  height: 100%;
  padding: 100px;
  box-sizing: border-box;
}

.main-contents {
    display: flex;
}






/*footer*/

.footer {
  background-color: #f8f8f8;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*display:none*/
.hidden {
  display: none;
}
