@import "/public/css/main.css";

* {
  padding: 0px;
  margin: 0px;
}

/*html*/
html {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* main */

#main__container {
  width: 100%;
  height: 100%;
  padding: 100px;
  box-sizing: border-box;
}

.main-contents {
  display: flex;
}

.main__title__zone {
  margin: 20px;

  font-size: 20px;
}

.mypage__category.nav {
  gap: 8px;
  padding: 6px 15px 6px 6px;
}

.mypage__category.nav-item {
  width: 150px;
  margin: 15px 0;
}

.mypage__category__a {
  text-decoration: none;
  color: black;
  padding: 10px;
  transition: all 0.2s;
}

.mypage__category__a:hover {
  color: #252525;
  background-color: #efefef;
  border-radius: 5px;
}

.information__zone {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-top: 20px;

  width: 500px;
}

.table-header {
  font-size: 25px;
}

/* 주문정보 카드존 */
.order__none {
  width: 100%;
  height: 500px;
  text-align: center;

  color: grey;
  font-weight: 600;
  font-size: 20px;
}

.order__list {
  width: 85%;
}

.card-header {
  height: 40px;
  padding: 13px;
}

.card-body {
  display: flex;
  align-items: center;
  gap: 22px;
  box-sizing: border-box;
}

/* 상품정보존 */
.product__image {
  width: 100px;
  height: 100px;
}

.product__information {
  width: 80%;
}

.card-text {
  font-size: small;
  color: #707070;
}

/* 기타존 */
.etc__zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin: 10px;

  width: 100px;
  height: 80px;
}

.order {
  display: flex;
}

/*footer*/

.footer {
  background-color: #f8f8f8;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*display:none*/
.hidden {
  display: none;
}
