@import "/public/css/main.css";

* {
  padding: 0px;
  margin: 0px;
}

/*html*/
html {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* main */

#main__container {
  width: 100%;
  height: 100%;
  padding: 100px;
  box-sizing: border-box;
}

.main-contents {
  display: flex;
  flex-direction: column;
}

.main__title__zone {
  margin: 20px;
}

.process__bar {
  width: 30%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  align-items: center;
}
.process__bar p {
  margin-left: 10px;
}
.process__bar p:nth-child(2) {
  font-size: 30px;
  font-weight: 500;
}

/* 상품 존 */
.table-header {
  margin: 10px 0;
}

table {
  width: 700px;
}

th {
  height: 25px;
  text-align: center;
}

td {
  text-align: center;
  vertical-align: middle;
}

.product__information {
  align-items: center;
  margin: 10px;
  height: 105px;
}

.product__picture {
  width: 100px;
  height: 100px;
}

.product__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 250px;
  text-align: left;
}

.product__name {
  font-size: large;
}

.product__shortdesc {
  font-size: small;
  color: rgb(59, 59, 59);
}

/* 배송지정보 존 */

.delivery__infomation {
  display: flex;
}

/*footer*/

.footer {
  background-color: #f8f8f8;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*display:none*/
.hidden {
  display: none;
}
