<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>개굿</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-32x32.png" />

    <!-- CSS only Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="user-mypage.css" />
    <script src="user-mypage.js" type="module" defer></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  </head>

  <body>
    <!-- 메인 컨테이너 -->
    <main id="main__container" role="main">
      <div class="main-title">
        <span class="main-mypage">MYPAGE</span>

        <!-- 구분선 -->
        <hr class="my-2" />
      </div>

      <div class="main-contents">
        <ul class="mypage-category nav flex-column">
          <li class="mypage nav-item">
            <a href="/users/mypage">회원정보수정</a>
          </li>
          <li class="mypage nav-item">
            <a href="/orders/list">주문/배송조회</a>
          </li>
          <li class="mypage nav-item">
            <a class="user__delete" href="#">회원탈퇴</a>
          </li>
        </ul>

        <div class="information__zone">
          <div class="table-header">고객정보</div>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">
                  <label>이메일</label>
                </th>
                <td>
                  <span class="user_info email form-control-plaintext"></span>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <label>비밀번호</label>
                </th>
                <td class="password__zone">
                  <input
                    type="password"
                    class="user_info password__first form-control"
                    placeholder="비밀번호를 입력해주세요."
                  />
                  <input
                    type="password"
                    class="user_info password__second form-control"
                    placeholder="비밀번호를 재입력해주세요."
                  />
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <label>이름</label>
                </th>
                <td>
                  <input type="text" class="user_info name form-control" />
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <label>휴대폰번호</label>
                </th>
                <td>
                  <input
                    type="text"
                    class="user_info phonenumber form-control"
                    placeholder="- 제외 입력해주세요"
                  />
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <label>배송지</label>
                </th>
                <td class="address__zone">
                  <div class="address__zone__input">
                    <input
                      type="text"
                      class="user_info postalcode__input form-control"
                    />
                    <button type="button" class="address__search btn btn-light">
                      주소검색
                    </button>
                  </div>
                  <input
                    type="text"
                    class="user_info address__input__1 form-control"
                  />
                  <input
                    type="text"
                    class="user_info address__input__2 form-control"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="edit__button">
            <button type="button" class="userinfo__change btn btn-secondary">
              수정
            </button>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer
      class="text-center text-white"
      style="background-color: blanchedalmond"
    >
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <p>© 2022 개굿개굿</p>
        <p>저작권 yalco</p>
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
