<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>개굿</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-32x32.png" />

    <!-- CSS only Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <!-- JavaScript Bundle with Popper Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="user-mypage.css"/>
    <script src="user-mypage.js" type="module" defer></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body>
    <!-- HEADER -->
    <nav class="navbar">
        <!-- <div class="container-fluid"> -->
        <a class="navbar-brand" href="/">GAEGOOD</a>
        <ul class="navbar-nav">
            <li class="nav-item admin" style="display: none;">
                <a class="nav-link" href="/admin">관리자 모드</a>
            </li>
            <li class="nav-item mypage" style="display: none;">
                <a class="nav-link" href="/users/mypage">마이페이지</a>
            </li>
            <li class="nav-item join">
                <a class="nav-link" href="/auth/join">회원가입</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">장바구니
                    <span class="icon">
                        <i class="fas fa-cart-shopping"></i>
                    </span>
                </a>
            </li>
        </ul>
        <!-- </div> -->
    </nav>

    <!-- 메인 컨테이너 -->
    <main id="main__container" role="main">
        <div class="main-title">
            <span class="main-mypage">MYPAGE</span>

            <!-- 구분선 -->
            <hr class="my-2" />


        </div>
        <div class="main-contents">

            <ul class="mypage-category">
                <li><a href="/users/mypage">회원정보수정</a></li>
                <li><a href="/orders/list">주문/배송조회</a></li>
                <button class="user__delete">회원탈퇴</button>
            </ul>
            <div>
                <div class="table-header">고객정보</div>
                <!-- 구분선 -->
                <hr class="my-2" />

                <table>

                    <tr>
                        <th>이메일</th>
                        <td>
                            <span class="user email">hello@gmail.com (데이터 받아올 곳)</span>;
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span>비밀번호 변경</span>
                        </th>
                        <td>
                            <span>새 비밀번호</span>
                        </td>
                        <td>
                            <input class="user password__first" type="password" placeholder="비밀번호를 입력해주세요.">
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <span>새 비밀번호 확인</span>
                        </td>
                        <td>
                            <input class="user password__second" type="password" placeholder="비밀번호를 재입력해주세요.">
                        </td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td>
                            <span class="user name">홍길동(데이터 받아올 곳)</span>
                        </td>
                    </tr>
                    <tr>
                        <th>휴대폰번호</th>
                        <td>
                            <input class="user phonenumber" type="text" placeholder="- 제외 입력해주세요" value="데이터받아올곳">
                        </td>
                    </tr>
                    <tr>
                        <th>배송지</th>
                        <td>
                            <div>
                                <input type="text" value="데이터받아올곳" class="user postalcode__input">
                            </div>
                            <div>
                                <input type="text" value="데이터받아올곳" class="user address__input__1">
                                <button class="address__search">주소검색</button>
                            </div>
                            <div>
                                <input type="text" value="데이터받아올곳" class="user address__input__2">
                            </div>
                        </td>
                    </tr>
                </table>
                <button class="userinfo__change">변경하기</button>
            </div>

        </div>
    </main>



    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: blanchedalmond">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            <p>© 2022 개굿개굿</p>
            <p>저작권 yalco</p>
        </div>
        <!-- Copyright -->
    </footer>
</body>

</html>