@import "/public/css/main.css";

* {
  padding: 0px;
  margin: 0px;
}

/*body*/
body {
  height: 100vh;
}
.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing {
  cursor: pointer;
  border: 1px solid red;
  padding: 10px;
  font-size: 3rem;
}

.greeting {
  cursor: pointer;
  border: 1px solid blue;
  padding: 10px;
  margin-left: 3rem;
}

/* border line*/
.border__line__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.border__line {
  width: 100%;
  height: 1px;
  background-color: rgb(180, 180, 180);
}

.deliveryFee__info {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
/* main */
#main__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  box-sizing: border-box;
  color: rgb(58, 58, 58);
}
.sub__container {
  width: 80%;
  height: 100%;
  display: flex;
  margin-top: 40px;
}
.product__sub__container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin-right: 40px;
}
.product__main__container {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.product__text__container {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product__category {
  margin-bottom: 10px;
  font-size: 14px;
  color: #48c78e;
}
.product__img {
  width: 100%;
}
.product__name {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}
.product__desc {
  margin-bottom: 20px;
  font-size: 16px;
}
.product__price {
  font-size: 18px;
  font-weight: bold;
}
.buttons__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.amount__title {
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}
.amount__button__container {
  display: flex;
  align-items: center;
}

.like__button {
  width: 100%;
  height: 150px;
  margin-top: 15px;
  margin-left: 5px;
  font-size: 24px;
  cursor: pointer;
}

.fa-solid.fa-heart {
  color: #eb4d4b;
}

.fa-solid.fa-heart.hidden {
  display: none;
}

.fa-regular.fa-heart.hidden {
  display: none;
}

.product__amount {
  width: 50px;
  text-align: center;
  font-weight: bold;
}
.button__plus,
.button__minus {
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
}
.button__plus:hover,
.button__minus:hover,
.button__cart .button__remove:hover {
  opacity: 0.6;
}
.button__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button__sub__container {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.button__cart {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}
.button__remove {
  width: 30%;
  height: 100%;
  font-size: 14px;
}
.order__button__user,
.order__button__any {
  width: 98%;
}
.order__button__user > a,
.order__button__any > a {
  text-decoration: none;
  color: white;
}

/*footer*/

/*display:none*/
.hidden {
  display: none;
}
