@import "/public/css/main.css";

* {
  padding: 0px;
  margin: 0px;
}

/*body*/

.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing {
  cursor: pointer;
  border: 1px solid red;
  padding: 10px;
  font-size: 3rem;
}

.greeting {
  cursor: pointer;
  border: 1px solid blue;
  padding: 10px;
  margin-left: 3rem;
}

/* border line*/
.border__line__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 20px;
}
.border__line {
  width: 100%;
  height: 1px;
  background-color: rgb(180, 180, 180);
}
/* main */
#main__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  box-sizing: border-box;
  color: rgb(58, 58, 58);
}
.sub__container {
  width: 80%;
  height: 100%;
  display: flex;
}
.product__sub__container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}
.product__main__container {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__text__container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product__img {
  width: 100%;
}
.product__name {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}
.product__desc {
  margin-bottom: 20px;
}
.amount__container {
  display: flex;
  width: 100px;
  justify-content: space-between;
  padding: 50px 0;
}
.product__amount {
  width: 50px;
  text-align: center;
}
.button__plus,
.button__minus {
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
}
.button__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order__button__user,
.order__button__any {
}

/*footer*/

/*display:none*/
.hidden {
  display: none;
}
