<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>개굿</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-32x32.png" />

    <!-- CSS only Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="product-detail.css" />
    <script src="product-detail.js" type="module" defer></script>
  </head>

  <body>
    <!-- HEADER -->
    <nav class="navbar">
      <!-- <div class="container-fluid"> -->
      <a class="navbar-brand" href="/">GAEGOOD</a>
      <ul class="navbar-nav">
        <li class="nav-item admin" style="display: none;">
          <a class="nav-link" href="/admin">관리자 모드</a>
        </li>
        <li class="nav-item mypage" style="display: none;">
          <a class="nav-link" href="/users/mypage">마이페이지</a>
        </li>
        <li class="nav-item join">
          <a class="nav-link" href="/auth/join">회원가입</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">장바구니
            <span class="icon">
              <i class="fas fa-cart-shopping"></i>
            </span>
          </a>
        </li>
      </ul>
      <!-- </div> -->
    </nav>

    <!-- 메인 컨테이너 -->
    <main id="main__container" role="main">
      <div class="product__container">
        <div class="product__category">카테고리</div>
        <img src="#" class="product__img" />
        <div class="product__name">상품명</div>
        <div class="product__desc">상품상세설명</div>
        <div class="product__price">가격</div>
      </div>
      <div class="button__container">
        <button class="button__cart">장바구니</button>
        <button class="button__remove">장바구니 삭제</button>
        <button class="button__buy">바로 구매하기</button>
        <button class="button__delete">
          indexedDB(데이터베이스) 삭제 - 주의, 데이터값 아니고 DB임
        </button>
      </div>
    </main>

    <!-- Footer -->
    <footer
      class="text-center text-white"
      style="background-color: blanchedalmond"
    >
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <p>© 2022 개굿개굿</p>
        <p>저작권 yalco</p>
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
