/* HEADER 카테고리 */

.navbar {
  width: 100vw;
  height: 100px;
  padding: 50px 100px 0px 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: 1000;
  font-style: italic;
  letter-spacing: -4px;
}

.navbar-nav .nav-item {
  margin: 10px;
  font-weight: 600;
  cursor: pointer;
}

.navbar-nav .nav-item {
  cursor: pointer;
}
