.navbar {
  width: 100vw;
  height: 100px;
  padding: 50px 100px 0px 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.navbar-nav {
  width: 400px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: 1000;
  font-style: italic;
  letter-spacing: -4px;
}

.nav-item {
  margin: 10px;
}

#order-detail__wrap {
  padding: 0 200px;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.7);
}

.order-detail__order-content__outer-wrap {
  padding: 20px;
}

.order-detail__order-content__wrap {
  padding: 20px;
  margin-left: 10px;
}

h2.order-detail__title {
  margin-top: 100px;
}

.order-detail__order-content__wrap h6 {
  font-size: 14px;
  font-weight: 600;
}

.order-detail__title {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

#order-detail__order-content__shipping-status__wrap {
  width: 30%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shipping-status {
  color: rgba(0, 0, 0, 0.3);
}

#order-history {
  margin-left: 10px;
  margin-bottom: 10px;
}

#order-detail__order-content__product-info__wrap {
  margin-left: 0px;
}

.order-detail__order-content__product-info__product-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  margin: 0 50px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.order-detail__order-content__product-info__product-item:last-child {
  border-bottom: none;
}

.order-detail__order-content__product-info__product-item__product-content {
  font-size: 18px;
  margin: 10px 30px;
  color: rgba(0, 0, 0, 0.8);
}

#order-detail__product-image {
  width: 10%;
  height: 10%;
}

.order-detail__order-content__label {
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 5px;
}

.order-detail__underline {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card {
  border-color: rgba(0, 0, 0, 0.3);
}

#order__options__wrap {
  width: 20%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.order__options__option {
  width: 100px;
  font-size: 18px;
  color: whitesmoke;
}

.order__options__option:hover {
  color: whitesmoke;
}

.order__options__option:disabled {
  color: grey;
}

#shipping-cancel {
  color: #ed4c67;
}
