<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="error-page.css" />
    <script src="error-page.js" type="module" defer></script>
  </head>
  <body>
    <span class="error-page-message"
      >관리자 권한이 없으므로, 이 페이지에 대한 접근을 불허합니다.</span
    >
    <div id="timer__wrap">
      <span id="timer"></span><span>초 후에 홈으로 이동합니다.</span>
    </div>
  </body>
</html>
