@import "/public/css/main.css";

* {
  padding: 0px;
  margin: 0px;
}

/*body*/
body {
  width: 100vw;
  height: 100vh;
}

.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing {
  cursor: pointer;
  border: 1px solid red;
  padding: 10px;
  font-size: 3rem;
}

.greeting {
  cursor: pointer;
  border: 1px solid blue;
  padding: 10px;
  margin-left: 3rem;
}

/* main */
#main__container {
  width: 100%;
  height: 100%;
  padding: 50px 100px;
  box-sizing: border-box;
  color: rgb(58, 58, 58);
}
/* email input*/
.form-control {
  width: 300px;
}
/* border line*/
.border__line__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 20px;
}
.border__line {
  width: 100%;
  height: 1px;
  background-color: rgb(180, 180, 180);
}

/* process bar */
.process__bar {
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  align-items: center;
  margin-top: 50px;
}
.process__bar p {
  margin-left: 10px;
}
.process__bar p:last-child {
  font-size: 30px;
  font-weight: 500;
}

/*footer*/
.footer {
  background-color: #f8f8f8;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*display:none*/
.hidden {
  display: none;
}

@media (max-width: 375px) {
  .form-control {
    width: 230px;
  }
  #main__container {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    color: rgb(58, 58, 58);
  }
}
