<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>개굿</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="elice-rabbit-favicon.png"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>