<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container mt-3">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/img/elice-rabbit.png" width="30" height="30" />
        <span class="has-text-link">쇼핑-12팀</span>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
      <ul id="navbar">
        <li><a href="/login">로그인</a></li>
        <li><a href="/register">회원가입</a></li>
        <li>
          <a href="#cart" aria-current="page">
            <span class="icon">
              <i class="fas fa-cart-shopping"></i>
            </span>
            <span>카트</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>