@import "../reset.css";
@import "../navbar.css";
* {
  padding: 0px;
  margin: 0px;
}

/*html*/
html {
  width: 100vw;
  height: 100vh;
}

/* main */
#main__container {
  width: 100%;
  height: 100%;
  padding: 100px;
  box-sizing: border-box;
}
/*carousel container*/
/* .carousel {
} */

.carousel-item {
  background-color: rgba(0, 0, 0, 0.02);
}
.carousel-item img {
  width: 50%;
  margin: auto;
}

/* 상품 카테고리 */

#category__wrap {
  margin: 20px 0px;
}

.nav-item.category {
  margin: 10px;
}

.nav-item.category .nav-link {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  font-size: 14px;
}

.nav-item.category .nav-link:not(.clicked):hover {
  color: #4ccfe0;
  border-color: #4ccfe0;
}

.nav-item.category .nav-link.clicked {
  color: #00bcd4;
  border: 2px solid #00bcd4;
  font-weight: 600;
}

#product-counter {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
}

/*상품*/

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  place-items: center;
  text-decoration: none;
}
.card {
  margin: 5px;
  margin-bottom: 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.card:hover {
  opacity: 0.5;
}

.card-link {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}

.card-link:hover {
  color: rgba(0, 0, 0, 0.9);
}

.card img {
  background-color: #f6f6f6;
  border-radius: 0px;
}

.card-body {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.card-text {
  color: rgba(0, 0, 0, 0.9);
}

.card-title {
  font-size: 14px;
  margin-bottom: 0px;
}

.card-spec {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.card-price {
  font-size: 14px;
}

.cards.empty {
  display: block;
}

#empty-product-list {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}

/*footer*/

.footer {
  background-color: #f8f8f8;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*display:none*/
.hidden {
  display: none;
}

@media (max-width: 1500px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(25%, auto));
  }
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(33%, auto));
  }
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(50%, auto));
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(100%, auto));
  }
}
