@import "../reset.css";
@import "../navbar.css";
* {
  padding: 0px;
  margin: 0px;
}

/*html*/
html {
  width: 100vw;
  height: 100vh;
}

/* main */
#main__container {
  width: 100%;
  height: 100%;
  padding: 100px;
  box-sizing: border-box;
}
/*carousel container*/
/* .carousel {
} */
.carousel-item {
  background-color: rgba(0, 0, 0, 0.02);
}
.carousel-item img {
  width: 500px;
  height: 500px;
  margin: auto;
}

/* 상품 카테고리 */

#category__wrap {
  margin: 20px 0px;
}

.nav-item.category {
  margin: 10px;
}

.nav-item.category .nav-link {
  cursor: pointer;
  color: white;
}

.nav-item.category .nav-link:not(.clicked) {
  background-color: #b2ebf2;
}

.nav-item.category .nav-link:not(.clicked):hover {
  background-color: #4ccfe0;
}

.nav-item.category .nav-link.clicked {
  background-color: #00bcd4;
}

#product-counter {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  margin-left: 10px;
}

/*상품*/

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  place-items: center;
}
.card {
  margin: 10px 10px;
}
.card img {
  background-color: #f6f6f6;
  cursor: pointer;
}
.card img:hover {
  background-color: white;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-spec {
  font-size: 12px;
}
.card-text-title {
  font-weight: bold;
}

.cards.empty {
  display: block;
}

#empty-product-list {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}

/*footer*/

.footer {
  background-color: #f8f8f8;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*display:none*/
.hidden {
  display: none;
}

@media (max-width: 1500px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(25%, auto));
  }
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(33%, auto));
  }
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(50%, auto));
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(100%, auto));
  }
}
