@import "../reset.css";
* {
  padding: 0px;
  margin: 0px;
}

/*html*/
html {
  width: 100vw;
  height: 100vh;
}

.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing {
  cursor: pointer;
  border: 1px solid red;
  padding: 10px;
  font-size: 3rem;
}

.greeting {
  cursor: pointer;
  border: 1px solid blue;
  padding: 10px;
  margin-left: 3rem;
}

/* HEADER 카테고리 */

.navbar {
  width: 100vw;
  height: 100px;
  padding: 50px 100px 0px 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.navbar-nav {
  width: 250px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: 1000;
  font-style: italic;
  letter-spacing: -4px;
}

/* main */
#main__container {
  width: 100%;
  height: 100%;
  padding: 100px;
  box-sizing: border-box;
}
/*carousel container*/
.carousel {
}
.carousel-item .img {
  height: 300px;
  background-color: rgb(56, 55, 55);
}

/* 상품 카테고리 */
.category {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
}

/*상품*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  place-items: center;
}
.card {
  margin: 10px 10px;
}
.card img {
  background-color: #f6f6f6;
  cursor: pointer;
}
.card img:hover {
  background-color: white;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-spec {
  font-size: 12px;
}
.card-text-title {
  font-weight: bold;
}
/*footer*/

.footer {
  background-color: #f8f8f8;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*display:none*/
.hidden {
  display: none;
}
