<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>개굿</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-32x32.png" />
    <!-- daisyUi -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.38.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CSS only Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />
    <script src="home.js" type="module" defer></script>
  </head>

  <body>
    <!-- HEADER -->
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a href="/" class="btn btn-ghost normal-case text-xl">GAEGOOD</a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal p-0">
          <li><a href="/login">로그인</a></li>
          <li><a href="/register">회원가입</a></li>
          <li>
            <a href="/cart" aria-current="page">
              <span class="icon">
                <i class="fas fa-cart-shopping"></i>
              </span>
              <span>장바구니</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- 메인 컨테이너 -->
    <main id="main__container" role="main">
      <!-- 캐러셀 -->
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="true"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="elice-rabbit.png"
              class="d-block w-100 img"
              alt="개굿 최고^^"
            />
          </div>
          <div class="carousel-item">
            <img
              src="elice-rabbit.png"
              class="d-block w-100 img"
              alt="개굿 최고^^"
            />
          </div>
          <div class="carousel-item">
            <img
              src="elice-rabbit.png"
              class="d-block w-100 img"
              alt="개굿 최고^^"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- 상품 카테고리 -->
      <nav class="category">
        <ul class="menu menu-horizontal bg-base-100">
          <li><a href="/Total">TOTAL</a></li>
          <li><a href="/Fabrics">FABRICS</a></li>
          <li><a href="/Stickers">STICKERS</a></li>
          <li tabindex="0">
            <span>ETC</span>
            <ul class="bg-base-100">
              <li><a>기타1</a></li>
              <li><a>기타2</a></li>
              <li><a>기차3</a></li>
            </ul>
          </li>
        </ul>
      </nav>

      <!--시안 카테고리-->
      <div class="tabs w-full flex justify-center">
        <a class="tab tab-bordered tab-active">Total</a>
        <a class="tab tab-bordered">Fabrics</a>
        <a class="tab tab-bordered">Stickers</a>
      </div>

      <!-- 구분선 -->
      <div class="flex flex-col w-full">
        <div class="divider"></div>
      </div>
      <!-- 상품들 -->
      <div class="card__container">
        <!-- 머그컵 -->
        <a href="/product" class="card w-96 bg-base-100">
          <figure class="px-10 pt-10">
            <img
              src="https://placeimg.com/400/225/arch"
              alt="cup"
              class="rounded-xl img"
            />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">개발자 머그컵</h2>
            <p>개발자가 쓰는 머그컵!</p>
            <p>10,000원</p>
          </div>
        </a>

        <!-- 티셔츠 -->
        <a href="/product" class="card w-96 bg-base-100">
          <figure class="px-10 pt-10">
            <img
              src="https://placeimg.com/400/225/arch"
              alt="cup"
              class="rounded-xl img"
            />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">개발자 티샤쯔</h2>
            <p>개발자가 쓰는 티샤쯔!</p>
            <p>20,000원</p>
          </div>
        </a>

        <!-- 칫솔 -->
        <a href="/product" class="card w-96 bg-base-100">
          <figure class="px-10 pt-10">
            <img
              src="https://placeimg.com/400/225/arch"
              alt="cup"
              class="rounded-xl img"
            />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">개발자 칫솔</h2>
            <p>개발자가 쓰는 칫솔!</p>
            <p>200,000원</p>
          </div>
        </a>

        <!-- 머그컵 -->
        <a href="/product" class="card w-96 bg-base-100">
          <figure class="px-10 pt-10">
            <img
              src="https://placeimg.com/400/225/arch"
              alt="cup"
              class="rounded-xl img"
            />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">개발자 머그컵</h2>
            <p>개발자가 쓰는 머그컵!</p>
            <p>10,000원</p>
          </div>
        </a>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer footer-center p-4 bg-base-300 text-base-content">
      <div>
        <p>2022.10.31 ~ 2022.11.13 - 12팀</p>
        <p>사진저작권자 - yalco</p>
      </div>
    </footer>
  </body>
</html>
