@import "../reset.css";
* {
  padding: 0px;
  margin: 0px;
}
.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing {
  cursor: pointer;
  border: 1px solid red;
  padding: 10px;
  font-size: 3rem;
}

.greeting {
  cursor: pointer;
  border: 1px solid blue;
  padding: 10px;
  margin-left: 3rem;
}

/* HEADER 카테고리 */

.navbar.bg-base-100 {
  padding: 2rem;
  min-height: 6rem;
}

.btn.btn-ghost.normal-case.text-xl {
  width: 250px;
  height: 80px;

  font-size: 3rem;
  font-style: italic;
  letter-spacing: -5px;
}

/*body*/
body {
  width: 100vw;
  box-sizing: border-box;
}

/* main */
#main__container {
  width: 100%;
  height: 80%;
  padding: 100px;
}
/*carousel container*/
.w-full {
  padding: 10px 100px;
}

.btn:hover {
  background-color: #e8e9eb;
  color: #303640;
}

/* 상품 카테고리 */
.category {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
}
.card__container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.img {
  width: 230px;
  height: 250px;
}
