<!-- head 파일 -->
<%- include ('head.ejs') %>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="/css/home.css" />
  <script src="/script/alljs.js" type="module" defer></script>
  </head>

  <body>
    <!-- 헤더 -->
    <%- include ('header.ejs') %>
      <div class="div-container">
        <div class="landing" id="landingDiv">
          <h1>랜딩 페이지</h1>
        </div>
        <div class="greeting" id="greetingDiv">
          <h1>안녕하세요!</h1>
        </div>
      </div>
  </body>

  </html>